/* src/components/layout/LevelWatermark/LevelWatermark.module.css */

.levelWatermark {
  position: fixed;

  right: -30px;
  bottom: 20px;

  /* transform: translateX(-50%); */

  color: var(--headingCol);

  font-size: clamp(220px, 30vw, 420px);
  font-weight: 800;
  line-height: 1;

  opacity: 0.06;

  pointer-events: none;

  z-index: 0;
}